<div class="col-md-9">
    <strong class="text-info">
        {{ film.ru_title | truncatechars:50 }} ({{film.product_year}})
    </strong>
</div>
<!--Колонка с номером сезона и номером серии-->
<div class="col-md-3">
    <div class="row g-0 text-info text-center">
<!--    номер сезона-->
        <div class="col">
            <i class="bi bi-film"> 10</i>
        </div>
<!--    номер серии-->
<!--        <div class="col">-->
<!--            <i class="bi bi-eye"> 10</i>-->
<!--        </div>-->
<!--    буду смотреть-->
<!--        <div class="col-auto">-->
<!--            <i class="bi bi-bookmark-heart"></i>-->
<!--        </div>-->
    </div>
</div>