.m-bg-dark{
    background-color: #212529;
}
/*.btn-and-bg-color{*/
/*    color: rgba(255,255,255, .55);*/
/*    border-color: rgba(255,255,255, .1);*/
/*}*/
/*Название страны производства*/
.card-orig-country{
    font-size: 14px;
    font-style: italic;
    color: hsla(0,0%,100%,.6);
    padding-bottom: 10px;
}
.card-container{
    margin: 0px 9px;
}
/*Граница для просмотра элементов*/
.max-test-border-color{
    border: 1px solid red;
}