{% extends "base.html" %}

{% load static %}

{% block content %}

<!--Карточка фильма-->
    {% for video in videos  %}
<!--    Колонка карточки фильма-->
        <div class="col-lg-6 mt-2">
            <div class="card-container border rounded">
<!--        Ряд с названием, годом, сезоном, индикатором просмотра-->

                <div class="row g-0 px-2 py-2 border-bottom border-success">

                    {% if not video.season_number %}
<!--                    Название фильма и год-->
                        {% include "movie/include/anonim_film_header.html" %}
                    {% else %}
<!--                    название сериала и год-->
                        {% include "movie/include/anonim_tvseries_header.html" %}
                    {% endif %}

                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}