{% extends "base.html" %}

{% load static %}

{% block content %}
<!--Карточка фильма-->
    {% for film in films  %}
        <div class="col-md-6 mt-2">
            <div class="row g-0 border rounded mb-4">
                <div class="row g-0 px-4 py-2 justify-content-between border-bottom border-success">
                    <div class="col-xm-8">
                        <strong class="text-info">
                            {{ film.ru_title }}
                        </strong>
                    </div>
                    <div class="col-xm-4">
                        <div class="row g-0 text-info text-center">
                            <div class="col-5">
                                <i>( {{film.product_year}} )</i>
                            </div>
                            <div class="col-7 ">
                                <i>сезон 1</i>
                            </div>
                        </div>
                        <div class="row g-0 text-info text-center">
                            <div class="col-12">
                                <i>Просм. серия 10</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col px-4 py-2 d-flex flex-column">
                    <div class="card-orig-country mb-0 border-bottom border-success">
                        {% if film.title %}
                            {{ film.title }}
                        {% else %}
                            Оригинальное название отсутствует
                        {% endif %}
                    </div>
                    <div class="row g-0 border-bottom border-success pb-2 ">
                        <div class="col-6 text-primary">
                            {% if film.categories.all %}
                                {% for category in film.categories.all %}
                                    {{ category.title }}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-3">
                            <span class="badge bg-success text-dark">KP {{ film.KPoisk_rating }}</span>
                        </div>
                        <div class="col-3 ">
                            <span class="badge bg-warning text-dark">IMDB {{ film.IMDB_rating }}</span>
                        </div>
                    </div>
                    <i class="mb-auto pt-2 text-muted">
                       {{  film.description | truncatechars:150}}
                    </i>
                    <a href="#" >Редактировать</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    {% if film.poster %}
                        <img src="{{ film.poster.url }}" height="250" alt="">
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}